*{
  text-decoration: none !important;
  list-style: none !important;
  font-family: "Poppins", sans-serif;
  color: #282938;
  box-sizing: border-box;
}
h1{
  font-size: 54px;
  font-weight: 600;
}
h2{
  font-size: 48px;
  font-weight: 600;
}
p{
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 41, 56,0.7);
}
.pricing a,i{
  color: #fff;
}
/* Navbar part start */

nav{
  background-color: #1C1E53;
  padding: 16px 0 !important;
}
nav ul{
  column-gap: 32px;
}
nav ul li a{
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: #BBBBCB !important;
  font-size: 16px;
  font-weight: 500;
}
nav ul li a:hover{
  color: #fff !important;
}
.nav-btn{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 48px;
  margin-left: 48px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  background-color: transparent;
}
/* Navbar part end */

/* Banner part start */
.banner{
  background-color: #1C1E53;
  padding-top: 126px;
  padding-bottom: 139px;
}
.banner h1{
  color: #fff;
}
.banner p{
  color: #fff;
  width: 562px;
}
.banner .a{
  color: #1B1C2B;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 56px;
  transition:.4s ;
  margin-top: 37px;
  margin-right: 27px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 41px;
  background: #FCD980;
}
.banner .a:hover{
  background-color: transparent;
  color: #FCD980;
  border:1px solid  #FCD980;
}
.banner .pricing{
  display: inline-block;
  position: relative;
}
.banner .pricing .view{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.banner .pricing {
  display: inline-block;
}
.banner .pricing  i {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  transition: .5s;
  visibility: hidden;
}

.banner .pricing:hover  i {
  visibility: visible;
  top: 50%;
  transform: translateY(-50%);
  left: 130px;
}
/* Banner part end */

/* Work part start */
.work{
  background-color: #F4F6FC;
  padding-top: 128px;
  padding-bottom: 165px;
}
.work .w-left p{
  width: 405px;
  padding: 10px 0;
  color: #28293899;
}
.work .pricing{
  position: relative;
}
.work .pricing .view{
  color: #2405F2;
  font-size: 16px;
  font-weight: 500;
}
.work .pricing  i {
  color: #2405F2;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 165px;
  transition: .5s;
  visibility: hidden;
}
.work .pricing:hover  i {
  visibility: visible;
  top: 50%;
  transform: translateY(-50%);
  left: 190px;
}
.work .w-card{
  width: 50%;
}
.work .w-card h3{
  font-size: 32px;
  font-weight: 500;
  color: #282938;
  padding-top: 16px;
  padding-bottom: 8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0,.25);
}
.work .w-card p{
  color: rgba(40, 41, 56,.7);
  width: 303px;
}
.work .w-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}
/* Work part end */

/* Project part start */
.project{
  padding: 128px 0;
}
.project .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
}
.project .box a {
  font-size: 16px;
  font-weight: 500;
}
.project .left .workhub{
  position: relative;
}
.project .left .workhub img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.project .left .animation h2{
  width: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.project .left .animation p{
  width: 50%;
  text-align: center;
  color: rgba(255, 255, 255,.8);
}
.project .left .animation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: .8s;
  background-color: rgb(28, 30, 83,0.7);
}
.project .left .animation a{
  color: #FCD980;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.project .workhub:hover .animation{
  height: 100%;
  opacity: 1;
}
.project .right .unisaas img{
  width: 100%;
  height: 100%;
}
.project .right .warship{
  position: relative;
  overflow: hidden;
}
.project .right .warship img{
  width: 100%;
  height: 100%;
}
.project .right .unisaas{
  width: 400px;
  height: 280px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.project .anime{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.6s;
  background-color: #1c1e5387;
}
.project .unisaas:hover .anime{
  left: 0;
}
.project .anime2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  transition: 0.6s;
  background-color: #1c1e5387;
}
.project .warship:hover .anime2{
  right: 0;
}
.project .right h2{
  width: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
}
.project .right a{
  color: #FCD980;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
/* Project part end */

/* Features part start */
.features{
  background-color: #F4F6FC;
}
.features .f-heading{
  width: 630px;
  padding-top: 128px;
  padding-bottom: 47px;
  margin: 0 auto;
}
.features .f-heading h6{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.features .f-heading h2{
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}
.features .f-content{
  width: 30%;
  margin: 0 auto;
  padding: 58px 32px 48px 48px;
  background-color: #fff;
}
.features .f-content h4{
  font-size: 24px;
  font-weight: 500;
  padding-top: 22px;
}
.features .f-content p{
  line-height: 28px;
  color: rgba(40, 41, 56,.7);
  width: 324px;
}
/* Features part end */

/* Review part start */
.review{
  background-color: #F4F6FC;
  padding: 128px 0;
}
.review .left h2{
  font-size: 38px;
  font-weight: 600;
  width: 327px;
}
.review .left p{
  color: rgba(40, 41, 56,.7);
  width: 327px;
}
.review .right h3{
  width: 840px;
  font-size: 32px;
  font-weight: 500;
  color: rgb(40, 41, 56);
}
.review .box{
  display: flex;
  column-gap: 15px;
  margin-top: 48px;
}
.review .r-content a{
  font-size: 18px;
  font-weight: 500;
  color: #282938;
}
.review .r-content p{
  font-size: 12px;
  color: rgba(40, 41, 56,.7);
  padding: 0;
}
/* Review part end */

/* Question part start */
.question{
  padding: 128px 0;
}
.question .left h2{
  width: 328px;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  padding-bottom: 16px;
}
.question .left p{
  color: rgba(36, 5, 242,.87);
}
.accordion-item{
  border: 0px !important;
  padding-bottom: 32px;
}
.accordion-button{
  background-color: transparent !important;
  box-shadow: 0 0 0 transparent !important;
  font-size: 24px;
}
.accordion-body{
  border-bottom: 1px solid #ECECF1 !important;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 48px;
  line-height: 32px;
  width: 620px;
}
.accordion-button::after{
  background-image: none !important;
  content: "+";
  transform: translateY(50%) translateY(-50%) rotate(0);
}
.accordion-button:not(.collapsed)::after{
  background-image: none !important;
  content: "x";
  transform:  translateY(50%) translateY(-50%) rotate(0);
}

/* Question part end */

/* Contact part start */
.contact .row img{
  width: 100%;
}
.contact .row{
  --bs-gutter-x: 0px !important;
}
.contact .animation{
  position: relative;
  overflow: hidden;
}
.contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  /* opacity: 0; */
  transition: .4s;
  background-color: rgb(28, 30, 83,0.7);
}
.animation:hover .contact-info{
  left: 0;
}
.contact-info h1,p{
  padding-top: 25px;
  width: 464px;
  color: #fff;
}
.contact-content{
  width: 100%;
  padding: 96px 96px 48px 96px;
  background-color: #1C1E53;
}
.contact-content h4{
  color: #fff ;
  font-size: 32px;
}
.contact-content p{
  color: #fff ;
  padding-bottom: 48px;
  padding-top: 9px;
  font-size: 16px;
}
.contact-content input{
  font-size: 16px;
  color: #fff;
  padding: 18px 32px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255,.1);
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
}
.contact-content button{
  width: 100%;
  padding: 16px 0;
  background-color: #FCD980;
  border-radius: 41px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  margin-bottom: 33px;
  margin-top: 18px;
}
/* Contact part end */

/* Blog part start */
.blog{
  padding-bottom: 179px;
  padding-top: 77px;
}
.blog .blog-content{
  width: 32%;
}
.blog .b-box{
  display: flex;
  justify-content: space-between;
}
.blog .blog-content .p{
  padding-top: 40px;
}
.blog h2{
  padding-bottom: 64px;
}
.blog .blog-content h5{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.blog .blog-content a{
  color: #282938;
  font-size: 16px;
  font-weight: 500;
}
.blog .pricing i{
  color: #282938;
}
/* Blog part end */
/* Fotter part start */
.fotter{
  background-color: #1C1E53;
  padding-top: 96px;
}
.fotter .p{
  color: rgba(255, 255, 255,.7);
  width: 399px;
  padding-top: 22px;
}
.fotter h2{
  color: #fff;
}
.fotter ul{
  display: flex;
  column-gap: 20px;
  padding-left: 0;
}
.fotter ul li i{
  color: #fff;
  font-size: 20px;
}
.fotter .f-contact{
  background-color: #FCD980;
}
.fotter .f-contact{
  width: 517px;
  display: flex;
  column-gap: 30px;
  padding: 20px 20px;
  margin-top: 85px;
}
.fotter .f-contact p{
  width: auto;
  padding: 0px;
  color: #282938;
  margin: 0px;
}
/* Fotter part end */